$white: #ffffff;
$eggshell: #fffcf8;
$lighter-black: #24554a;
$black: #000000;
$light-gray: #fffcf8;
$navigation-gray: #808397;
$testimonials-charcoal-gray: #5b636d;
$testimonials-role-gray: #a7aaad;
$light-yellow: #fad400;
$contact-button-yellow: #fbd600;
$link-coral: #fe7766;
$hover-light-blue: #a5e2ff;
$footer-green: #90d4c6;
$footer-dark-gren: #2c7566;
$footer-link-green: #458d7e;
