@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.btn--contact {
	background-color: colors.$contact-button-yellow;
	border-radius: 30px;
	padding: 15px 25px;
	border: none;
	margin: 20px 0;

	@include sc-breakpoint(1024) {
		background-color: colors.$white;
		color: colors.$black;

		&:hover {
			background-color: colors.$hover-light-blue;
			color: colors.$white;
		}
	}
}
