@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.section-gallery {
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include sc-breakpoint(1024) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.gallery__image {
		img {
			height: 100%;
			width: 100%;
		}
	}
}
