@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.section-testimonials {
	background-color: colors.$eggshell;
	padding: 10%;
}

.testimonials {
	&__wrapper {
		text-align: center;
	}

	&__list {
		@include sc-breakpoint(1024) {
			display: flex;
			gap: 40px;
		}
	}

	&__item {
		padding-top: 60px;

		img {
			height: 72px;
			width: 72px;
			border-radius: 50%;
		}

		&__text {
			@include sc-breakpoint(1024) {
				padding: 0 20px;
			}
		}
	}

	&__title {
		margin-bottom: 3%;
	}
}
