@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.footer {
	padding: 100px 20px;
	background-color: colors.$footer-green;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-logo {
		padding-bottom: 20px;

		svg > path {
			fill: colors.$footer-dark-green;
		}
	}

	&-menu {
		display: flex;
		gap: 30px;
		padding-bottom: 40px;

		@include sc-breakpoint(768) {
			gap: 70px;
		}
	}

	&-social {
		display: flex;
		gap: 30px;
	}
}
