@use "../variables/colors" as colors;
@import "../variables/breakpoints";

//Genereal/repeating styles
.nav-menu__item > * .main__item__text,
.testimonials__item__role,
.testimonials__item__role,
.footer-menu__item {
	font-family: "Barlow";
	font-weight: 600;
}

.header-title,
.main__item__title,
.testimonials__title,
.testimonials__item__name,
.main__item__link {
	font-family: "Fraunces";
	font-weight: 900;
}

.main__item__text,
.testimonials__item__text,
.testimonials__item__name,
.footer-menu__item {
	font-size: 18px;
}

//Header & Navigation
.header-title {
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 6.25px;
	text-align: center;
	color: colors.$white;
}

.nav-menu__item > * {
	text-decoration: none;
	font-size: 20px;
	line-height: 25px;
	color: colors.$navigation-gray;

	@include sc-breakpoint(1024) {
		font-size: 18px;
		font-weight: 600;
		color: colors.$white;
	}
}

.nav-menu__item--contact > button {
	font-family: "Fraunces";
	font-weight: 700;
	font-size: 15px;
	line-height: 25px;
	color: colors.$black;
}

//Main section
.main {
	&__wrapper {
		text-align: center;
	}

	&__item {
		&__content {
			position: relative;
		}

		&__link {
			font-size: 15px;
			line-height: 25px;
			letter-spacing: 1px;
			color: colors.$black;

			&::after {
				content: "";
				position: absolute;
				display: block;
				height: 9px;
				width: 35%;
				right: 50%;
				transform: translate(50%, -120%);
				border-radius: 6px;
				background-color: colors.$light-yellow;
				opacity: 0.25;
				z-index: -1;

				@include sc-breakpoint(768) {
					width: 27%;
				}

				@include sc-breakpoint(1024) {
					transform: translate(-10px, -12px);
					right: auto;
				}
			}

			&:hover::after {
				opacity: 1;
			}

			&--pink {
				&::after {
					background-color: colors.$link-coral;
				}
			}
		}

		&__transform,
		&__stand-out {
			@include sc-breakpoint(1024) {
				text-align: left;
			}
		}

		&__transform {
			// .main__item__link::after {
			// 	@include sc-breakpoint(1024) {
			// 		// left: 15px;
			// 		// right: initial;
			// 	}
			// }
		}

		&__stand-out {
			// .main__item__link::after {
			// 	@include sc-breakpoint(1024) {
			// 		// right: 366px;
			// 	}
			// }
		}
	}
}

.main__item__img {
	.main__item__title {
		font-size: 32px;
		line-height: 39px;
	}

	.main__item__text {
		line-height: 30px;
		padding: 35px 0;
		margin: 0;
		color: colors.$navigation-gray;
	}
}

.main__item__bg-img {
	.main__item__title {
		color: colors.$content-dark-green;
		font-size: 28px;
		line-height: 35px;
	}

	.main__item__text {
		font-size: 16px;
		line-height: 27px;
		color: colors.$lighter-black;
	}
}

//Testimonials
.testimonials {
	&__title {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 4px;
		color: colors.$testimonials-role-gray;
	}

	&__item {
		&__text {
			line-height: 32px;
			color: colors.$testimonials-charcoal-gray;
		}

		&__name {
			line-height: 22px;
		}

		&__role {
			font-size: 14px;
			line-height: 25px;
			color: colors.$testimonials-role-gray;
		}
	}
}

//Footer
.footer {
	&-menu__item {
		line-height: 25px;
		color: colors.$footer-link-green;
	}
}
