@use "../variables/colors" as colors;
@import "../variables/breakpoints";

//Genereal/repeating styles
.nav-menu__item a,
.main-item__text,
.testimonials__item__role,
.testimonials__item__role,
.footer-menu__item {
	font-family: "Barlow";
	font-weight: 600;
}

.header-title,
.main-item__title,
.testimonials__title,
.testimonials__item__name,
.main-item__link {
	font-family: "Fraunces";
	font-weight: 900;
}

.main-item__text,
.testimonials__item__text,
.testimonials__item__name,
.footer-menu__item {
	font-size: 18px;
}

//Header & Navigation
.header-title {
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 6.25px;
	text-align: center;
	color: colors.$white;
}

.nav-menu__item > * {
	text-decoration: none;
	font-size: 20px;
	line-height: 25px;
	color: colors.$navigation-gray;

	@include sc-breakpoint(1024) {
		font-size: 18px;
		font-weight: 600;
		color: colors.$white;
	}
}

.nav-menu__item--contact > button {
	font-family: "Fraunces";
	font-weight: 700;
	font-size: 15px;
	line-height: 25px;
	color: colors.$black;

	&:hover {
		cursor: pointer;
	}
}

//Main section
.main {
	&-wrapper {
		text-align: center;
	}

	&-item {
		&__content {
			position: relative;
		}

		&__link {
			font-size: 15px;
			line-height: 25px;
			letter-spacing: 1px;
			color: colors.$black;

			&::after {
				content: "";
				position: absolute;
				display: block;
				height: 9px;
				width: 150px;
				right: 50%;
				transform: translate(50%, -120%);
				border-radius: 6px;
				background-color: colors.$light-yellow;
				opacity: 0.25;
				z-index: -1;
			}

			&:hover::after {
				opacity: 1;
			}

			&--pink {
				&::after {
					background-color: colors.$link-coral;
				}
			}
		}

		&__transform,
		&__stand-out {
			@include sc-breakpoint(1024) {
				text-align: left;
			}
		}
	}
}

.main-item__img {
	.main-item__title {
		font-size: 32px;
		line-height: 39px;
	}

	.main-item__text {
		line-height: 30px;
		padding: 35px 0;
		margin: 0;
		color: colors.$navigation-gray;
	}
}

.main-item__bg-img {
	.main-item__title {
		color: colors.$content-dark-green;
		font-size: 28px;
		line-height: 35px;
	}

	.main-item__text {
		font-size: 16px;
		line-height: 27px;
		color: colors.$lighter-black;
	}
}

//Testimonials
.testimonials {
	&__title {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 4px;
		color: colors.$testimonials-role-gray;
	}

	&__item {
		&__text {
			line-height: 32px;
			color: colors.$testimonials-charcoal-gray;
		}

		&__name {
			line-height: 22px;
		}

		&__role {
			font-size: 14px;
			line-height: 25px;
			color: colors.$testimonials-role-gray;
		}
	}
}

//Footer
.footer {
	&-menu__item {
		a {
			line-height: 25px;
			color: colors.$footer-link-green;

			&:hover {
				color: colors.$white;
			}
		}
	}

	&-social__icon:hover {
		path {
			fill: white;
		}
	}
}
